html{
	font-size: 10px;
}

body{
	padding-top: 0em;
    color: #585858;
	font-family: Raleway, sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
	margin: auto;
}

/*skip*/
.skip-to-main {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  transform: translateY(-50px);
}
.skip-to-main:focus {
  transform: translateY(0);
}

.section{
	width: 70%;
	padding: 0 0 5em 0;
    margin:auto;
}


h1{
	text-align: center;
	font-size: 3.6rem;
	color: #495057;
}

h2{
	text-align: left;
	font-size: 2.8rem;
}

h3, h4, h5, h6 {
	color: #383838;
	font-weight: 400;
	line-height: 1em;
	margin: 0 0 1em 0;
}

p{
	margin:0 0 3em 0;
}

a{
	text-decoration: none;
	font-weight: 400;
}

a:hover{
	color: #846add;
}


header{
	width:100%;
	background:#ffffff;
	text-align:center;
	position: relative;
}

nav{
	width:100%;
	text-align:center;
}

nav ul{
	margin:0;
	padding:0;
	list-style:none;
}

nav ul li {
	display: block;
	
}

.header-item{
	padding:10px 30px;
	display: inline-block;
}

.header-item:hover{
	border-bottom: solid 2px #846add;
	box-shadow: 0 8px 11px -7px rgba(132, 106, 221, 0.6);
}

nav ul a{
	font-weight:bold;
	color:#454545;
	text-decoration:none;
}

.roundphoto{
	border-radius: 100%;
}

.greeting {
	width: 64%;
    padding: 2em;
    text-align: left;
    margin:1rem auto;
}

.greeting img{
	width: 30%;
	max-width:100%;
	height:auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.project_content{
	width: 70%;
    padding: 2em;
    text-align: left;
    margin:2em auto;
}

.hero{
	width: 100%;
	margin: 0 0;
}

.bg{
	background-color: #f9f9f9;
	padding: 3rem 0;

}

/*==================== PHOTO ====================*/
.photowrap{
	width: 70%;
    padding: 0 0 5em 0;
    margin:auto;
    background-color: #f9f9f9;

}

.photo-item{
	display: inline-block;
	height: 20em;
	width: 20em;
	margin: 1em;
}

.gd-item{
	display: inline-block;
	height: 20em;
	margin: 1em;
}

.photo-grid{
	text-align: center;
}

.footer-icon{
	margin: 0.5rem;
	display: inline-block;
}

.icons a{
	color: #fff;
}

.icons a:hover{
	color: #846add;
}



/*==================== MUURI ====================*/
.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 5px;
  z-index: 1;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #ffffff;
  background: #59687d;
  text-align:center;
}

.item.muuri-item-dragging .item-content{
  background: #8993a2;
}
.item.muuri-item-releasing .item-content{
  background: #152c43;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #aaaaaa; }
input:-moz-placeholder { color: #aaaaaa; }
input::-moz-placeholder { color: #aaaaaa; }
input:-ms-input-placeholder { color: #aaaaaa; }

textarea::-webkit-input-placeholder { color: #aaaaaa; }
textarea:-moz-placeholder { color: #aaaaaa; }
textarea::-moz-placeholder { color: #aaaaaa; }
textarea:-ms-input-placeholder { color: #aaaaaa; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.bg-contact100 {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact100 {
  width: 100%;  

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-contact100 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px 130px 157px 148px;
}

/*------------------------------------------------------------------
[  ]*/
.contact100-pic {
  width: 310px;
  padding-top: 55px;
}

.contact100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.contact100-form {
  width: 390px;
}

.contact100-form-title {
  display: block;
  font-family: Raleway;
  font-size: 24px;
  color: #585858;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 36px;
}

input.input100 {
  height: 50px;
  border-radius: 25px;
  padding: 0 0px 0 50px;
}

input.input100[name="email"] {
  padding: 0 0px 0 54px;
}

textarea.input100 {
  min-height: 150px;
  border-radius: 25px;
  padding: 14px 28px;
}



/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  display: block;
  width: 100%;
  background: #fafafa;
  font-family: Raleway;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(132,106,221, 0.5);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  pointer-events: none;
  color: #aaaaaa;
  font-size: 15px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #846add;
  padding-left: 22px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.contact100-form-btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #846add;
  font-family: Raleway;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact100-pic {
    width: 33.5%;
  }

  .contact100-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 110px 80px 157px 90px;
  }

  .contact100-pic {
    width: 35%;
  }

  .contact100-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .wrap-contact100 {
    padding: 110px 80px 157px 80px;
  }

  .contact100-pic {
    display: none;
  }

  .contact100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 110px 15px 157px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Raleway;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: Raleway;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}




/*forms*/





.buttons{
	text-align: center;
}


.button {
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    background-color: white;
    color: #4a4a4a;
    border: 1px solid #4a4a4a; 
}

.button:hover {
    background-color: #4a4a4a; 
    color: white;
    cursor: pointer;
}

.container {
    padding: 1rem;
    font-size: 0.1px;
    text-align: center;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}


/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
    margin: 1rem;
}

.mix {
    background: #fff;
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 56.25%;
}







/*==================== FOOTER ====================*/
.footer {
	position: relative;
	background: #000;
	padding: 1em 10%;
	text-align: center;
}

.footer p{
	margin: 1em;
	color: white;
}

.footer .icons{
	list-style: none;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
}



/*==================== RWD ====================*/

@media only screen and (max-width: 320px) and (orientation: portrait) {

	.photo-item{
		height: 2em;
		width: 2em;
	}

	.gd-item{
		height: 2em;
		width: 2em;
	}

}

@media only screen and (max-width: 767px) and (orientation: portrait) {

	.header-item{
		border-bottom:solid 2px #585858;
		width: 100%;
		padding: 10px 0px;
	}

	.header-item:hover{
	background-color: black;
	color: #ffffff;
	}

	nav li:first-child .header-item{
		border-top:solid 2px #585858;
	}


	nav {
		margin: 1.0em 0 0 0;
	}

	.header-logo{
		margin: 1em;
	}

	.input100 {
	    display: block;
	    width: 80%;
	    background: #fafafa;
	    font-family: Raleway;
	    font-size: 15px;
	    line-height: 1.5;
	    color: #666666;
	}

}

@media only screen and (min-width: 768px) {

	nav{
		padding:20px;
	}

	nav ul li{
		display: inline;
	}

	.header-item{
		border-bottom:solid 2px #585858;
	}

	.footer .icons{
		display: block;
	}

	.header-logo{
		margin: 1em;
	}

}

@media only screen and (min-width: 1200px) {

	nav{
		-webkit-flex: 1; /* Safari 6.1+ */
	    -ms-flex: 1; /* IE 10 */ 
	    flex: 1;
		padding:0px;
		text-align:right;
	}

	nav ul{
		padding:20px;
		box-sizing:border-box;	
	}

	nav ul li{
		display: inline;
	}

	.header{
		display: flex;
		justify-content:space-between;

	}

	.photo-item{
		display: inline;
	}

	.header-logo {
	    position: absolute;
	    left: 1em;
	}

}

